absl-py==0.11.0
astunparse==1.6.3
attrs==20.3.0
beautifulsoup4==4.9.3
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
coinbase==2.1.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
dateparser==1.0.0
dill==0.3.3
dm-tree==0.1.5
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gin-config==0.4.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud-bigquery==2.6.1
google-cloud-core==1.5.0
google-crc32c==1.1.0
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
GoogleNews==1.5.4
grpcio==1.35.0
gviz-api==1.9.0
h5py==3.1.0
httplib2==0.19.0
idna==2.10
importlib-metadata==3.3.0
importlib-resources==5.1.0
kaggle==1.5.10
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.3.3
numpy==1.19.4
oauthlib==3.1.0
opencv-python-headless==4.4.0.46
opt-einsum==3.3.0
pandas==1.1.5
Pillow==8.0.1
promise==2.3
proto-plus==1.13.0
protobuf==3.20.0
psutil==5.8.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
pyparsing==2.4.7
python-crontab==2.5.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytrends==4.7.3
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.5.4
sentencepiece==0.1.94
six==1.15.0
soupsieve==2.1
tensorboard==2.4.0
tensorboard-plugin-profile==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-addons==0.12.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.26.0
tensorflow-model-optimization==0.5.0
tensorflow-text==2.4.2
termcolor==1.1.0
text-unidecode==1.3
tf-models-official==2.3.0
tf-slim==1.1.0
tqdm==4.55.0
tweepy==3.10.0
typeguard==2.10.0
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0